body{
    margin: 0;
    padding: 0;
}
#timeSheets_list {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: small;
    overflow-x: scroll;
    overflow-y: hidden;
}

#timeSheets_list div{
    position: relative;
    height: 35vh;
}

#timeSheets_list div img{
    max-height: 100%;
}

#timeSheets_list div h1{
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: 2;
    background-color: rgba(99, 99, 148, 0.26);
}

#big_image_content{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    width: 100%;
    height: 100%;
}

#big_image_content img{
    height: 100vh;
}

#big_image_content h1{
    position: absolute;
    bottom: 0%;
}

#big_image_groupe{
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
}

#big_image_groupe::before{
    content: '';
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(5px);
}

#closeBigPicture{
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 5vh;
    background-color: blue;
    height: 5vh;
    width: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#big_image_groupe{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 720px) {
    #timeSheets_list {
        flex-direction: column;
    }
    #big_image_content img{
        width: 100vw;
        height: auto;
    }
}