body{
    margin: 0;
    padding: 0;
}
#contenu{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
}
header img{
    width: 10vh;
    height: 10vh;
}
main{
    height: 90vh;
    background-color: #ffffff;
    padding: 20px;
}