body{
    margin: 0;
    padding: 0;
}
#contenu{
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100vh;
}
header{
    display: grid;
    grid-template-columns: 10% 90%;
    background-color: #f2f2f2;
    align-items: center;
    padding: 10px;
    height: 10vh;
}
header img{
    max-width: 100%;
    max-height: 10vh;
    object-fit: contain;
}
main{
    background-color: #ffffff;
    padding: 20px;
}