*{
    margin: 0;
    padding: 0;
}
#contenu{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    padding: 10px;
}
header h1{
    font-size: 10vh;
}
header li{
    list-style: none;
}
#header_pages{
    display: flex;
    flex-direction: row;
}
main{
    height: 90vh;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main img{
    width: 90vw;
}




#content_popup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#connection_popup{
    display: flex;
    flex-direction: column;
}

@media only screen and (orientation: landscape) {
    #connection_popup{
        width: 70%;
        height: 50%;
    }
}

@media only screen and (orientation: portrait) {
    #connection_popup{
        width: 50%;
        height: 70%;
    }
}